.root {
	background-color: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 30px;
}

.inner {
	display: flex;
	justify-content: space-between;
}

.logo {
	// background-color: #eb770b;
	// color: #fff;
	// font-weight: 700;
	// line-height: 35px;
	// letter-spacing: 0.15px;
	border-radius: 10px;
	padding: 0 10px;
	// text-decoration: none;
	img {
		display: block;
		width: 150px;
		height: 40px;
		border-radius: 8px;
		transition: all 0.2s ease-in;

		&:hover {
			transform: scale(1.04);
		}
	}
}

.buttons {
	button {
		margin-left: 10px;
	}

	a {
		text-decoration: none;
	}
}
